* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}

#wrapper footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

#debug {
  padding: 10px;
  background-color: #555;
  border-bottom: 1px #333 solid;
  color: #fff;
}

.component {
  width: 200px;
  padding: 10px;
  border:1px #333 solid;
}

.component h4 {
  text-align: center;
  padding: 4px;
  background-color: #ccc;
}

.component-table div {
  display: flex;
}

.component-table div p:first-child {
  flex: 1 1 60%;
}

.component-table div p:last-child {
  flex: 1 1 40%;
  text-align: right;
}
